<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArHoqtB7gqL9xzNN60gJrhAeZ_RkfIcWA</string>
	<key>GCM_SENDER_ID</key>
	<string>90606060097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecombackend-a37b0</string>
	<key>STORAGE_BUCKET</key>
	<string>ecombackend-a37b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90606060097:ios:0bb7830e06e3b007da3cc0</string>
</dict>
</plist>